<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Accordian</title>

    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="accordian">
      <div class="item">
        <p class="number">01</p>
        <h2>My name is zudo</h2>
        <div class="iconsOpen icon">
          <ion-icon name="chevron-down-outline"></ion-icon>
        </div>
        <!-- <div class="iconsOpen icon"><ion-icon name="chevron-down-outline"></ion-icon></div> -->
        <div class="hidden-box">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
            dolor ipsa, exercitationem esse laboriosam nam eius natus nostrum
            perspiciatis, ea iure sed soluta, pariatur architecto! Id et ipsam
            quis quasi. Commodi doloribus voluptatem necessitatibus quidem et!
          </p>
          <ul>
            <li>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus
              ut nemo, distinctio quas, totam vel repellendus voluptates minima
              quod pariatur quis error cum, voluptatum veniam. Libero dicta
              temporibus distinctio harum!
            </li>
            <li>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam
              laborum quod quibusdam porro debitis aut laboriosam odit error!
              Doloremque, molestias quidem. Magni dolore aliquam illum sapiente
              commodi odio voluptatibus error.
            </li>
          </ul>
        </div>
      </div>
      <div class="item">
        <p class="number">02</p>
        <h2>My name is Ludo</h2>
        <div class="iconsOpen icon">
          <ion-icon name="chevron-down-outline"></ion-icon>
        </div>
        <!-- <div class="iconsOpen icon"><ion-icon name="chevron-down-outline"></ion-icon></div> -->
        <div class="hidden-box">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
            dolor ipsa, exercitationem esse laboriosam nam eius natus nostrum
            perspiciatis, ea iure sed soluta, pariatur architecto! Id et ipsam
            quis quasi. Commodi doloribus voluptatem necessitatibus quidem et!
          </p>
          <ul>
            <li>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus
              ut nemo, distinctio quas, totam vel repellendus voluptates minima
              quod pariatur quis error cum, voluptatum veniam. Libero dicta
              temporibus distinctio harum!
            </li>
            <li>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam
              laborum quod quibusdam porro debitis aut laboriosam odit error!
              Doloremque, molestias quidem. Magni dolore aliquam illum sapiente
              commodi odio voluptatibus error.
            </li>
          </ul>
        </div>
      </div>
      <div class="item">
        <p class="number">03</p>
        <h2>My name is Pedo</h2>
        <div class="iconsOpen icon">
          <ion-icon name="chevron-down-outline"></ion-icon>
        </div>
        <!-- <div class="iconsOpen icon"><ion-icon name="chevron-down-outline"></ion-icon></div> -->
        <div class="hidden-box">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
            dolor ipsa, exercitationem esse laboriosam nam eius natus nostrum
            perspiciatis, ea iure sed soluta, pariatur architecto! Id et ipsam
            quis quasi. Commodi doloribus voluptatem necessitatibus quidem et!
          </p>
          <ul>
            <li>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus
              ut nemo, distinctio quas, totam vel repellendus voluptates minima
              quod pariatur quis error cum, voluptatum veniam. Libero dicta
              temporibus distinctio harum!
            </li>
            <li>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam
              laborum quod quibusdam porro debitis aut laboriosam odit error!
              Doloremque, molestias quidem. Magni dolore aliquam illum sapiente
              commodi odio voluptatibus error.
            </li>
          </ul>
        </div>
      </div>
    </div>
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
    <script src="script.js"></script>
  </body>
</html>
